#main_d{
    float: right;
    border:2px black solid;
    background-color: rgb(78, 73, 73);
    justify-content: center;
    display: flex;
    border-radius: 25px;
    width: 50%;
    height: 85px;
    align-items: center;
}

body{
    position: relative;
}

.inner{
    text-align: center;
    font-size:28px;
    line-height: 70px;
    font-weight: bold;
    border-radius: 5px;
    margin-left:7px;
    margin-right: 7px;
}

.frst{
    order:0;
    background-color: green;
}

.second{
    order:1;
}

.thrth{
    order:-2;
}

.thrth, .second{
    background-color: blue;
}

.four{
    order:-1;
    background-color:red;
}

/* 2 задание*/

#one:checked+label{
    background:lime;
}

input[type="radio"]:hover+label{
    font-style: italic;
}

#two:checked+label:after{
    content:'  selected';
    color:aqua;
}


#three:checked+label::before{
    content:'«';
    color:goldenrod;
}

#three:checked+label::after{
    content:'»';
    color:goldenrod;
}

#fr:checked::before{
    content:'';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: violet;
    display: inline-block;
    box-shadow: 0 0 0 1px white,
                0 0 0 2px violet,
                0 0 0 3px white,
                0 0 5px 1px black;
}

